<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SWM Automation Suite" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="com.swm.core.listeners.TestListener"/>
        <listener class-name="com.swm.core.listeners.RetryListener"/>
    </listeners>

    <test name="UI Tests">
        <packages>
            <package name="com.swm.tests.ui.*"/>
        </packages>
    </test>

    <test name="API Tests">
        <packages>
            <package name="com.swm.tests.api"/>
        </packages>
    </test>

    <test name="Integration Tests">
        <packages>
            <package name="com.swm.tests.integration"/>
        </packages>
    </test>
</suite>
